*.log*
*.db
*.jpg
*.pdf

config/etc/letsencrypt/archive
var/api/files/digisignapp/*.json
var/api/keyring/*.xml
var/digiserver/db/
!var/digiserver/db/readme.txt
var/oneshotoptimizer/tokens/tokens.json
var/oneshotoptimizer/tmp
!var/oneshotoptimizer/tmp/readme.txt

!.gitignore
