/* Redefinicion de Colores Primary, Secondary, Accent  */
/*
.text-primary {
  color: #007934 !important;
}
.bg-primary {
  background: #007934 !important;
}
.text-secondary {
  color: #ff5800 !important;
}
.bg-secondary {
  background: #ff5800 !important;
}
.text-accent {
  color: #bed600 !important;
}
.bg-accent {
  background: #bed600 !important;
}
*/
/* Colores Propios Especiales */
/*
.text-tertiary {
  color: #333333 !important;
}
.bg-tertiary {
  background: #333333 !important;
}
.text-quaternary {
  color: #4d4d4d !important;
}
.bg-quaternary {
  background: #4d4d4d !important;
}
.text-quinary {
  color: #ebaae06c !important;
}
.bg-quinary {
  background: #ebaae06c !important;
}
*/
/* Colores Blanco y Negro Especiales */
/*
.text-whitec {
  color: #ffffff !important;
}
.bg-whitec {
  background: #ffffff !important;
}
.text-blackc {
  color: #000000 !important;
}
.bg-blackc {
  background: #000000 !important;
}
*/